<div id="signup-confirm">
  <h3>We've sent an email to <%= params[:email]%></h3>
  <p>Please click the link in the email to complete the signup process. This helps us to verify your identity.</p>
  <p>Didn't get the email? Sorry about that! <a href="/signup/send_confirmation?email=eran%40test.com">Click here to resend it</a> and be sure to check your spam folder just in case.</p>
  <br/>
  <br/>
</div>
