<div id="signup">  
  <h2>Signup title</h2>
  <h3>Awesome <strong>free</strong> subtitle</h3>

  <form action="/users" class="new_user" id="new_user" method="post">
    <div style="margin: 0pt; padding: 0pt; display: inline;">
      <input id="user_email" maxlength="255" name="user[email]" size="255" title="Enter your work email" type="text">
      <button type="submit" class="button orange"><span>Sign Up</span></button>
    </div>
  </form>
  <div class="signup-note">
    <img alt="White-lock-icon" class="signup-note-img" src="https://assets0.yammer.com/images/public_site/white-lock-icon.gif?1299638534">
    Only people with a verified company email address can join your company account.
  </div>

</div>
