<p>Hello <%= @resource.email %>!</p>
<p>You've recently signed up to -- Awesome Company --. Get started:</p>
<p><%= link_to 'Get Started', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>
<p><%= accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>
<p>Thanks you,<br/>The Team</p>
